annotated-doc
minigrid
litellm
loguru
pydantic
python-ulid
ipdb
gymnasium[mujoco]
cffi>=2.0.0
docstring-parser
hatch
httpcore2
setuptools
pandas
pyro-ppl
tensordict
truststore
vllm
jsonpatch
swe-rex
-e external/BALROG
-e external/crafter_refactored
-e external/12-distant-sunburn-gameenv
